stencil-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-split-pane {
  --border: none;
}

.prop-list {
  padding-top: 0;
  padding-bottom: 0;
}

iframe {
  width: 100%;
  height: 100%;

  border: none;
}

ion-menu {
  max-width: max-content;
}
